<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='', currentPage='Mentions légales')}"></div>

    <main>

        <h1 class="h1 center">Mentions légales</h1>

        <p>En vigueur au 18/09/2024.</p>

        <p>Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la Confiance en l’économie numérique, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' "Utilisateur", du site Battle-zone.fr , ci-après le "Site", les présentes mentions légales.</p>
        <p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>
        <p>Ces dernières sont accessibles sur le Site à la rubrique "Mentions légales".</p>

        <h2 class="h-box-shadow">Edition du site</h2>

        <p>L’édition et la direction de la publication du Site est assurée par Monsieur X Y, domicilié Rue du Battle Zone, dont le numéro de téléphone est 0100000000, et l'adresse e-mail battlezone@email.fr.</p>

        <h2 class="h-box-shadow">Hébergeur</h2>

        <p>L'hébergeur du Site est la société XHerbeger, dont le siège social est situé au Rue de X 59000 Lille.</p>

        <h2 class="h-box-shadow">Accès au site</h2>

        <p>Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout moment, suspendre, limiter ou interrompre le Site afin de procéder, notamment, à des mises à jour ou des modifications de son contenu. L'Editeur ne pourra en aucun cas être tenu responsable des conséquences éventuelles de cette indisponibilité sur les activités de l'Utilisateur. Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation expresse de l’Editeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que prévues par la règlementation en vigueur.</p>

    </main>
</div>



<div th:replace="~{fragments/footer :: footerImports}"></div>