<!-- Pour pouvoir faire include dans un autre html : -->
<th:block th:fragment="headerImports">

<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Tournois de jeux vidéo</title>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <style>
        .ck-editor__editable {
            min-height: 300px;
        }
    </style>
    <link rel="icon" th:href="@{/assets/img/favicon.svg}" type="image/svg+xml">
</head>
<body>

    <header th:fragment="header" class="header">
        <div class="header-top">
            <ul class="px-2">
                <!-- <li><a href="https://www.mangaluxe.com/forum/">Forum</a></li> -->
                <!-- <li><a href="https://www.mangaluxe.com/chat/">Tchat</a></li> -->
            </ul>
            <ul class="px-2">
                <li><a href="#" target="_blank" class="icon-f"></a></li>
                <li><a href="#" target="_blank" class="icon-t"></a></li>
                <li><a href="#" target="_blank" class="icon-i"></a></li>
                <li><a href="#" target="_blank" class="icon-y"></a></li>
            </ul>
        </div>

        <div class="header-nav">
            <div class="header-nav-child1">
                <div class="container-burger tablet" id="open_menuburger">
                    <div class="container-burger-in">
                        <div>
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                        <div>Menu</div>
                    </div>
                </div>
                <a th:href="@{/}" class="logo"><img th:src="@{/assets/img/logo-nav.png}" alt="Page d'accueil" width="100"></a>

                <div id="my_overlay" class="my-overlay">
                    <nav class="nav-icon">
                        <ul class="ul-1">
                            <li><a th:href="@{/tournois}">Tournois</a></li>
                            <li class="dropdown">
                                <div>
                                    <span class="drop-a">Inscriptions</span>
                                    <div class="open-submenu"></div>
                                </div>
                                <div class="dropdown-content">
                                    <ul class="ul-2">
                                        <li><a th:href="@{/inscription-tournoi/nouveau}">Rejoindre un tournoi</a></li>
                                        <li><a th:href="@{/mes-inscriptions}">Mes inscriptions</a></li>
                                        <li><a th:href="@{/inscriptions-tournois}">Toutes les inscriptions</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown">
                                <div>
                                    <span class="drop-a">Résultats</span>
                                    <div class="open-submenu"></div>
                                </div>
                                <div class="dropdown-content">
                                    <ul class="ul-2">
                                        <li><a>--------</a></li>
<!--                                        <li><a th:href="@{/stats/liste}">Voir</a></li>-->
<!--                                        <li><a th:href="@{/stats/ajouter}">Ajouter</a></li>-->
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown">
                                <div>
                                    <span class="drop-a">Messagerie</span>
                                    <div class="open-submenu"></div>
                                </div>
                                <div class="dropdown-content">
                                    <ul class="ul-2">
                                        <li><a th:href="@{/messages}">Messagerie interne</a></li>
                                        <li><a th:href="@{/messages/create}">Publier un message</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown">
                                <div>
                                    <span class="drop-a">Infos</span>
                                    <div class="open-submenu"></div>
                                </div>
                                <div class="dropdown-content">
                                    <ul class="ul-2">
                                        <li><a href="#">Règlement</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Infos légales</a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>

            <div class="header-nav-child2 nav-icon">
                <a class="icon-search" id="search"></a>

                <div class="search-container">
                    <div class="search-content">
                        <div class="search-header">
                            <span class="close-search"></span>
                            <div class="h4 mb-0">Recherche</div>
                        </div>
                        <form th:action="@{/recherche}" method="get" class="search">
                            <input type="search" name="recherche">
                            <button type="submit" class="submit"><span class="icon-search"></span></button>
                        </form>
                    </div>
                </div>

                <div th:if="${session.login != null}">
                    <a href="javascript:void(0)" class="icon-user" id="profil-drop"><span class="txt"><span th:text="${session.pseudo}">Pseudo</span></span></a>
                    <div class="profil-dropdown">
                        <div class="profil-dropdown-menu">
<!--                            <a href="#" rel="nofollow">Espace Membre</a>-->
                            <a th:href="@{/espace-membre}">Espace membre</a>
                            <a href="#" rel="nofollow">Profil public</a>
                            <a th:href="@{/logout}" rel="nofollow"><span class="icon-exit"></span>Déconnexion</a>
                        </div>
                    </div>
                    <div class="profil-overlay"></div>
                </div>

                <div th:if="${session.login == null}">
                    <a href="javascript:void(0)" class="icon-user open-connect"><span class="txt">Connexion</span></a>
                </div>

            </div>
        </div>
    </header>

    <div th:if="${successMessage}" class="success b center">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="warning b center">
        <p th:text="${errorMessage}"></p>
    </div>

</th:block>
