<div th:replace="~{fragments/header :: headerImports}"></div>


<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='', currentPage='Connexion')}"></div>

    <main>

        <h1 class="center h1">Connexion</h1>

        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="pseudo" class="form-label">Pseudo</label>
                <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Nom d'utilisateur">
            </div>
            <div class="mb-3">
                <label for="motdepasse" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="motdepasse" name="motdepasse"
                       placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>

    </main>

</div>


<div th:replace="~{fragments/footer :: footerImports}"></div>
