<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">

    <main>

        <h1 class="h1 center">Créer/Modifier une Partie</h1>

        <form th:action="@{/partie/nouveau}" method="post">

            <label for="joueur1">Joueur 1:</label>
            <select id="joueur1" name="joueur1" required>
                <option th:each="joueur : ${joueurs}" th:value="${joueur.id}" th:text="${joueur.pseudo}"></option>
            </select>

            <label for="joueur2">Joueur 2:</label>
            <select id="joueur2" name="joueur2" required>
                <option th:each="joueur : ${joueurs}" th:value="${joueur.id}" th:text="${joueur.pseudo}"></option>
            </select>

            <label for="dateHeure">Date et Heure:</label>
            <input type="datetime-local" id="dateHeure" name="dateHeure" th:value="${partie.dateHeure}" required>

            <button type="submit">Enregistrer</button>
        </form>

    </main>

</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>
