<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Tournois', currentPage='Inscrire à un tournoi')}"></div>

    <main>

        <h1 class="h1 center">S'inscrire à un tournoi</h1>

        <!-- <div th:if="${session.login != null}">-->
        <!-- Il est recommandé de faire la vérification dans le contrôleur et de passer l'état de connexion via le modèle, au lieu de vérifier la session directement dans la vue -->
        <div th:if="${isLogged}">

            <form th:action="@{/inscription-tournoi/nouveau}" th:object="${inscription}" method="post">
                <input type="hidden" name="csrfToken" th:value="${csrfToken}">

                <div>Vous : <span th:text="${session.pseudo}">Pseudo</span> (pseudo_id : <span th:text="${session.pseudo_id}"></span>)</div>

                <div>
                    <label for="tournoi">Tournoi :</label>
                    <div class="select-container">
                        <select id="tournoi" name="tournoi.id" class="form-control" required>
                            <option value="" disabled selected>Sélectionner un tournoi</option>
                            <option th:each="tournoi : ${tournois}" th:value="${tournoi.id}" th:text="${tournoi.nom}"></option>
                        </select>
                        <div class="arrow-down"></div>
                    </div>
                </div>

                <button type="submit" class="btn">Inscrire</button>
            </form>

        </div>

    </main>
</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>
