<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Tournois', currentPage='Inscrire à un tournoi')}"></div>

    <main>

        <h1 class="h1 center">S'inscrire à un tournoi</h1>

        <div th:if="${session.login != null}">

            <form th:action="@{/inscription-tournoi/nouveau}" th:object="${inscription}" method="post">

                <div>Vous : <span th:text="${session.pseudo}">Pseudo</span></div>

                <div>
                    <label for="tournoi">Tournoi :
                        <select id="tournoi" name="tournoi.id" class="form-control" required>
                            <option value="" disabled selected>Sélectionner un tournoi</option>
                            <option th:each="tournoi : ${tournois}" th:value="${tournoi.id}" th:text="${tournoi.nom}"></option>
                        </select>
                    </label>
                </div>

                <button type="submit" class="btn">Inscrire</button>
            </form>

        </div>

        <div th:if="${session.login == null}">
            <p>Vous devez vous connecter pour participer à un tournoi.</p>
        </div>

    </main>
</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>
