<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <!-- <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='', currentPage='')}"></div> -->

    <main>
        <h1 class="h1 center">Tournoi</h1>

        <p>Tournoi - Bienvenue au tournoi de jeux vidéo !</p>

        <h2 class="h-box-shadow">Liste de fonctionnalités :</h2>
        <ul class="li-arrow">
            <li>Inscription.</li>
            <li>Connexion pour.</li>
        </ul>

    </main>
</div>




<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>