<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Tournois', currentPage='Inscriptions')}"></div>

    <main>
        <h1 class="h1 center">Toutes les inscriptions</h1>

        <h2 class="h-box-shadow">Les inscriptions aux tournois :</h2>

        <div class="table-list-head topics-box">
            <div class="e b">Pseudo</div>
            <div class="e b">Nom tournoi</div>
            <div class="e b">Date</div>
            <div class="e b">Supprimer</div>
        </div>
        <ul class="table-list topics-box">
            <li th:each="i : ${inscriptions}">
                <div class="e center-center">
                    <div class="topics-box-title-icon icon-gamepad"></div>
                    <div class="b">
                        <div><span th:text="${i.utilisateur.pseudo}"></span></div>
                    </div>
                </div>
                <div class="e center-center">
                    <span th:text="${i.tournoi.nom}"></span>
                </div>
                <div class="e center-center">
<!--                    <span th:text="${i.tournoi.dateDebut}"></span>-->
                    <span th:text="${i.tournoi.dateDebutFormatted}"></span>
                </div>
                <div class="e center-center">
                    <form class="mb-0" th:action="@{|/inscription-tournoi/${i.id}/supprimer|}" method="post" onsubmit="return confirm('Supprimer cette inscription ?');">
                        <button type="submit" class="mini-btn">Supprimer</button>
                    </form>
                </div>
            </li>
        </ul>

        <a href="/inscription-tournoi/nouveau" class="btn mt-5">Nouvelle inscription</a>

    </main>
</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>
