<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Inscriptions', currentPage='')}"></div>

    <main>
        <h1 class="h1 center">Liste des inscriptions aux tournois</h1>

        <ul th:each="i : ${inscriptions}">
            <li>
                <span th:text="${i.utilisateur.pseudo}"></span> - <span th:text="${i.tournoi.nom}"></span>

                <form th:action="@{|/inscription-tournoi/${inscription.id}/supprimer|}" method="post" onsubmit="return confirm('Supprimer cette inscription ?');">
                    <button type="submit" class="mini-btn">Supprimer</button>
                </form>
            </li>
        </ul>

        <a href="/inscription-tournoi/nouveau" class="btn">Nouvelle inscription</a>

    </main>
</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>
