<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Tournois', currentPage='Mot de passe oublié')}"></div>

    <main>
        <h1 class="h1 center">Récupération de Mot de Passe</h1>

        <p class="mt-5">Entrez vos informations pour qu'on vous génère un nouveau mot de passe temporaire.</p>

        <div th:if="${message}">
            <p th:text="${message}" class="success"></p>
        </div>

        <div th:if="${error}">
            <p th:text="${error}" class="warning"></p>
        </div>

        <form th:action="@{/motdepasse-oublie}" method="post" class="mt-5">
            <input type="hidden" name="csrfToken" th:value="${csrfToken}">
            <div>
                <label for="pseudo">Pseudo :
                    <input type="text" id="pseudo" name="pseudo" required>
                </label>
            </div>
            <div>
                <label for="email">Email :
                    <input type="email" id="email" name="email" required>
                </label>
            </div>

            <button type="submit" class="btn">Récupérer Mot de Passe</button>
        </form>

        <p class="mt-5"><a th:href="@{/login}">Vous connecter</a></p>

    </main>
</div>



<div th:replace="~{fragments/footer :: footerImports}"></div>
