<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">

    <main>

        <h1 class="h1 center">Détails de la Partie</h1>

        <p>Joueur 1 : <span th:text="${partie.joueur1.pseudo}"></span></p>
        <p>Joueur 2 : <span th:text="${partie.joueur2.pseudo}"></span></p>
<!--        <p>Date : <span th:text="${#dates.format(partie.dateHeure, 'dd/MM/yyyy HH:mm')}"></span></p>-->
        <p>Date : <span th:text="${#dates.format(partie.dateHeure)}"></span></p>
        <p>Résultat : <span th:text="${partie.resultat == 1 ? 'Joueur 1 gagne' : (partie.resultat == 2 ? 'Joueur 2 gagne' : 'En attente')}"></span></p>

    </main>

</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>
