<div th:replace="~{fragments/header :: headerImports}"></div>

<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='', currentPage='Inscription')}"></div>

    <main>


        <h1 class="h1 center">Inscription</h1>

        <form th:action="@{/registration}" method="post" th:object="${utilisateur}">
            <div>
                <label for="pseudo">Nom d'utilisateur:</label>
                <input type="text" id="pseudo" th:field="*{pseudo}">
                <span th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>
            </div>

            <div>
                <label for="motdepasse">Mot de passe :</label>
                <input type="password" id="motdepasse" th:field="*{motdepasse}">
                <span th:if="${#fields.hasErrors('motdepasse')}" th:errors="*{motdepasse}"></span>
            </div>

            <div>
                <label for="email">Email :</label>
                <input type="text" id="email" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div>
                <button type="submit" class="btn">Valider</button>
                <a th:href="@{/}">Retour</a>
            </div>
        </form>

    </main>

</div>


<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>