<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Tournois', currentPage='Tournoi')}"></div>

    <main>

        <h1 class="h1 center" th:text="'Détail du Tournoi : ' + ${tournoi.nom}"></h1>

        <div class="box">
            <div class="box-title"><span th:text="${tournoi.nom}"></span></div>
            <div class="box-padding">
                <p><strong>Jeu :</strong> <span th:text="${tournoi.jeu}"></span></p>
                <p><strong>Format :</strong> <span th:text="${tournoi.format}"></span></p>
                <p><strong>Règles :</strong> <span th:text="${tournoi.regles}"></span></p>
                <p><strong>Nombre maximum de participants :</strong> <span th:text="${tournoi.maxJoueurs}"></span></p>
                <p><strong>Date de début :</strong> <span th:text="${tournoi.dateDebut}"></span></p>
                <p><strong>Date de fin :</strong> <span th:text="${tournoi.dateFin}"></span></p>
            </div>
        </div>

        <a href="/tournois">Retour à la liste des tournois</a>

    </main>
</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>