<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='', currentPage='Modification')}"></div>

    <main>

        <h1 class="h1 center">Modification des informations personnelles</h1>

        <form th:action="@{/update}" method="post" th:object="${utilisateur}">
            <input type="hidden" name="csrfToken" th:value="${csrfToken}">
            <input th:field="*{id}" type="hidden">

            <p>Nom d'utilisateur : <span th:text="${utilisateur.pseudo}"></span></p>
            <input type="hidden" th:field="*{pseudo}">

            <div>
                <label for="motdepasse">Mot de passe :</label>
                <input type="password" id="motdepasse" th:field="*{motdepasse}" >
                <p th:if="${#fields.hasErrors('motdepasse')}" th:errors="*{motdepasse}" class="warning i"></p>
            </div>

            <div>
                <label for="nom">Nom :</label>
                <input type="text" id="nom" th:field="*{nom}">
                <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="warning i"></p>
            </div>

            <div>
                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom" th:field="*{prenom}">
                <p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="warning i"></p>
            </div>

            <div>
                <label for="dateNaissance">Date de naissance :</label>
                <input type="date" id="dateNaissance" th:field="*{dateNaissance}">
                <p th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}" class="warning i"></p>
            </div>

            <div>
                <label for="email">Email :</label>
                <input type="text" id="email" th:field="*{email}">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="warning i"></p>
            </div>

            <div>
                <button type="submit" class="btn">Valider</button>
            </div>
        </form>

    </main>

</div>



<div th:replace="~{fragments/footer :: footerImports}"></div>