<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>



<div class="container">
    <h1 class="h1 center">Résultats</h1>

    <ul>
        <li th:each="statistique : ${statistiques}">
            <span th:text="${statistique.utilisateur.pseudo}"></span> -
            Score : <span th:text="${statistique.score}"></span> -
            Victoires : <span th:text="${statistique.victoires}"></span> -
            Défaites : <span th:text="${statistique.defaites}"></span>
        </li>
    </ul>
</div>



<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>
