<div th:replace="~{fragments/header :: headerImports}"></div>


<div class="container">
    <div th:replace="~{fragments/breadcrumb :: breadcrumb(pageName='Tournois', currentPage='Créer message')}"></div>

    <main>

        <h1 class="h1 center">Boîte de réception</h1>

        <div th:each="message : ${messages}">
            <h2>Titre: <span th:text="${message.getTitre()}"></span></h2>
            <p>Date: <span th:text="${message.getDateEnvoi()}"></span></p>
            <p>Info: <span th:text="${message.getContenu()}"></span></p>
        </div>

    </main>
</div>


<div th:replace="~{fragments/footer :: footerImports}"></div>